*{
   box-sizing: border-box 
}

body{
    background-image:linear-gradient(#ffe6e6,#ffabe1,#a685e2,#6155a6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background-image:linear-gradient(#ffe6e6,#ffabe1,#a685e2,#6155a6);
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;   
}

.hold{
    border: solid 5px #ccc;
}

.hovered {
    background-image:linear-gradient(#e6aeae,#c469d5,#ca489f,#4e6fd0);
    border-color: white;
    border-style: dasheds;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

